body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    border: none;
    border-radius: 10px;
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-text {
    margin: 0;
  }
  
  .navbar.fixed-bottom {
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar.fixed-bottom a {
    font-size: 1.5rem;
  }
  